//app/javascript/stylesheets/application.scss

@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Numans');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,body{
    background-image: url("/assets/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    min-width: 340px;
}

.btn{
      font-size: 10px;  

}
.parent{
    display: flex;
    width: 100%;
}

.navbar{
    min-width: 360px;
    padding: 0px;
}
.alert-panel{
    text-align: center;
}

.dataprofil{
    display: flex;
}
.dataprofil ul{
    margin-left: auto;
    margin-right: auto;
}
.dataprofil li{
    width: 150px;
    font-size: .8rem;
    padding: 10px 0;
    
}

.mainpanel{
    display: flex;
    background-color: rgba(0,0,0,0.4);
    flex-direction: column;
    min-width: 360px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    min-height: 100vh;
}

.mainwindow table{
    margin: auto;
}

.mainnewpostpanel{
    margin: auto;
    background: #fff;
    text-align: center;
    width: 80%;
}
.newpost{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 15%;
    background: #fff;
    font-size: 10px;
    min-width: 177px;
    width: 80%;
}

.custom-file{
    margin-bottom: 1rem;
}


.logbox{
    margin-top: 30px;
}

.login-button-panel{
    height: 50px;
}
.card{
height: 400px;
margin-top: auto;
margin-bottom: auto;
min-width: 300px;
background-color: rgba(0,0,0,0.5) !important;
}
.card-footer-panel{
    padding: $card-spacer-y $card-spacer-x;
 
  border-top: $card-border-width solid $card-border-color;

  &:last-child {
    @include border-radius(0 0 $card-inner-border-radius $card-inner-border-radius);
  }
}
.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
.post_pagination{
    margin-bottom: 10px;
    div{
        margin: 0 auto 0 auto;
    }
}